*.cs]

# Default severity for analyzer diagnostics with category 'StyleCop.CSharp.MaintainabilityRules'
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.MaintainabilityRules.severity = silent

# SA1401: Fields should be private
dotnet_diagnostic.SA1401.severity = silent
